@model List<emp.Models.emp>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
    }
</style>

<h2>EmpList</h2>
<table>
    <tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.name</td>
            <td><a href="@Url.Action("Index", new {item.id,item.name})">Edit</a></td>
            <td><a href="@Url.Action("Delete", new {item.id})">Delete</a></td>
        </tr>
    }
        </tr>
    </table>

    @Html.ActionLink("Add New", "Index", "Emp")
